@charset "utf-8";

@import "../bases/color.css";
@import "../bases/font.css";

.layout {
  background-color: var(--background-color);
  font-family: var(--primary-font-family);

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}
